.editIcons {
  width: 25px;
  margin-inline: 5px;

}

.story-options-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.main-edit,
.main-community {
  background-color: #F2F1F6;
}

.myStory,
.mySettings {
  border-top: 1px solid #E8E8E8;
  padding-top: 5px;
  padding-bottom: 10px;
}
.user-story-line,
.myStory,
.mySettings {
  border-bottom: 1px solid #E8E8E8;

}

.myStory{
  padding-inline: 20px;
  height: 13%;

}
.myStory,
.mySettings {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.recent-update-title,
.subStatusAdd {

  color: #989697;
}

.recent-update-title {
  margin: 20px;
  font-size: 15px;
}

.subStatusAdd {
  font-weight: 400;
}

.add-new-story-icons-background {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F2F1F6;
  display: inline-block;
  margin-inline: 2px;
}

.add-new-story-icons {
  width: 20px;
  margin: 5px;
}

.myStatus-header {
  font-weight: 500;
  font-size: 1.1em;
}
.settings-info-container{
  width: 100%;
  margin-top: 10px;
}
.settings-info-container-top{
  display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}
.status-info-container,
.settings-info-container,
.status-info-container-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;

}
.status-info-container-user{
  width: 75%;
}
.user-story{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 13%;
  padding-inline: 20px;
}
.user-story-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-edit,
.main-community {
  height: 90%;
  overflow-y: scroll;
}


.story-number{
  border-style: dashed;
  border-color: #0878F6
}
.user-add-story{
  position: relative;
}

.add-new-story{
  position: absolute;
  bottom: 2px;
  right: 5px;
  width: 20px;
}

.settings-info-container-top-first-section{
  display: flex;
}